/* Bundled variable fonts (SIL OFL 1.1, licenses in src/app/fonts/).
   Precached by the service worker, so text renders the same offline.
   Heebo: Hebrew, plus spaces and punctuation so Hebrew lines keep Heebo's
   rhythm. Nunito: Latin letters and digits, scaled to Heebo's x-height. */

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('../fonts/heebo-hebrew-wght-normal.woff2') format('woff2-variations');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('../fonts/heebo-latin-wght-normal.woff2') format('woff2-variations');
  unicode-range: U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E, U+00A0, U+00B7, U+2011-2027, U+2032-2033;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 200 1000;
  size-adjust: 104%;
  src: url('../fonts/nunito-latin-wght-normal.woff2') format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
